#!/bin/bash
#-------------------------------------------------------------------------------
#
#-------------------------------------------------------------------------------
	SELF=$BASH_ARGV
	HERE="$(cd $(dirname "$SELF"); pwd)"

	SELF="$(basename "$SELF")"

#-------------------------------------------------------------------------------
PRINT()
{
	GRP="$1"; shift
	CMD="$1"; shift
	PAR="$*"

        printf "%-20s: %-10s (%s)\n" "$GRP" "$CMD" "$PAR"
}

#-------------------------------------------------------------------------------
	PYTHON_VERSION=2.7.14

	export NVM_DIR="$HERE/.env/nvm"

	PRINT "setup" "nvm" "$NVM_DIR"
	. /usr/local/opt/nvm/nvm.sh

	PRINT "set default" "nvm" "default"
        nvm use default --silent

	PRINT "set default" "python" "$PYTHON_VERSION"
	pyenv local $PYTHON_VERSION

        PRINT "Enabled" "nvm"     "$(nvm      --version)"
        PRINT "Enabled" "node"    "$(node     --version | sed '1,$s/v//g')"
        PRINT "Enabled" "npm"     "$(npm      --version)"
        PRINT "Enabled" "python"  "$(python   --version 2>&1)"
        PRINT "Enabled" "python2" "$(python2  --version 2>&1)"
